{# src\Film\AdminBundle\Resources\views\Film\form.html.twig #}
{% extends 'FilmBiblioBundle::layout.html.twig' %}

{% block body %}
{{ form_start(form_film) }}
{{ form_widget(form_film) }}
{{ form_end(form_film) }}

<a href="{{ path('index_admin') }}" class = "btn btn-default monw" style="margin:20px 125px;">Retour</a>

{% endblock %}