{# src\Film\BiblioBundle\Resources\views\Film\list.html.twig #}
{% extends 'FilmBiblioBundle::layout.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Accueil</h1>

<p>Bienvenue sur mon projet film Symfony</p>

{% endblock %}